<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/login">Login</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
        </ul>

    </div>
    </div>
</nav>

<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h1>
                List of members
            </h1>
        </div>
    </div>
    <tr th:each="member : ${members}">
        <td><span th:text="${member.email}">Email</span></td>
    </tr>
</div>

    <body>
</body>
</html>