<!DOCTYPE HTML>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <head>
        <title>Neptune</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
    <tr th:each="planet : ${planets}">
        <div th:if="${planet.firstName == 'Neptune'}">
            <div th:text="${planet.firstName}">planet</div>
            <div th:text="${planet.lastName}">Planet</div>
        </div>
    </tr>

    </body>
</html>
</html>

